@font-face {
    font-family: "Web437_IBM_XGA";
    src: url(../fonts/WebPlus_Amstrad_PC-2y.woff) format("woff");
}

html {
    image-rendering: pixelated;
}

body {
    height: 100%;
    margin: 7px;
    font-family: "Web437_IBM_XGA";
    color: #555555;
    background-color: black;
}

table,
th,
td {
    border-style: solid;
    border-color: #AAAAAA;
    border-width: 2px;
    padding: 7px;
}

hr {
    border: 2px solid #AAAAAA;
}

table a {
    color: #0000AA;
}

table a:link {
    text-decoration: none;
}

table a:hover {
    color: #ffffff;
}

#page {
    width: 1150px;
    border-style: solid;
    border-color: black;
    margin-left: auto;
    margin-right: auto;
}

#header {
    color: white;
    padding: 7px;
    background-color: black;
    text-align: center;
}

#header h1 {
    animation: animate 3s linear infinite;
}

@keyframes animate {
    0% {
        opacity: 0;
    }

    50% {
        opacity: 0.7;
    }

    100% {
        opacity: 0;
    }
}

#navigation {
    text-align: left;
    margin: 7px;
    border-style: solid;
    border-color: #AAAAAA;
}

#navigation li {
    display: inline;
    margin: 3px;
}

#navigation a {
    color: #AAAAAA;
    font-size: 30px;
    padding: 14px;
    list-style-type: none;
    text-decoration: none;
}

#navigation a:hover {
    color: black;
    background-color: #AAAAAA;
}

#main {
    float: left;
    color: #AAAAAA;
    font-size: 20px;
    padding: 10px 10px;
    margin: 7px;
    width: 500px;
}

#side_bar {
    color: #AAAAAA;
    font-size: 20px;
    border-style: double;
    border-color: #AAAAAA;
    padding: 7px;
    margin: 7px;
    width: 450px;
    float: right;
}

#side_bar a {
    color: #0000AA;
    list-style-type: none;
    text-decoration: none;    
}

#side_bar a:hover {
    color: #FFFFFF;
}

#side_bar li {
    list-style-type: none;
    text-decoration: none;
    padding: 1px;
}

#sb_header {
    background-color: #AAAAAA;
    color: black;
    padding: 14px;
    height: 40px;
}

.side_txt {
    text-align: center;
}

#footer {
    border-style: solid;
    border-color: #AAAAAA;
    padding: 7px;
    font-size: 15px;
    color: #AAAAAA;
    clear: both;      
}

#footer a {
    color: #AAAAAA;
}

#footer a:link {
    text-decoration: none;
}

#footer a:hover {
    color: white;
}

